body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main-container {
  background-color: #FFF;
  width: 375px;
  margin: auto;
}

.header {
  width: 100%;
}

.heading {
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.title__logo {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header__location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fa-location-dot {
  margin-right: 20px;
}

.explore {
  background-color: #F3F3F3;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.explore__title {
  width: 275px;
  height: 68px;
  text-align: center;
}

.explore__subtitle {
  width: 315px;
  height: 46px;
  text-align: center;
  font-size: 18px;
}

.btn-rounded {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.btn-rounded:hover {
  opacity: 0.8;
  transition: opacity 250ms;
}

.operation {
  background-color: #FFF;
}

.operation__title {
  padding: 50px 20px 25px;
  font-size: 24px;
}

.btn__operation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__box {
  position: relative;
}

.btn__square {
  width: 323px;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  color: black;
  border: none;
  box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.number {
  position: absolute;
  top: 23px;
  left: -10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  border-radius: 15px;
}

.restau__cards {
  padding: 50px 0;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.section__title {
  margin: 0 20px 30px;
}

.card {
  width: 90%;
  height: 251px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card__img-badge {
  background-color: transparent;
  width: 100%;
  position: relative;
}

.badge {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  padding: 5px 10px;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15PX 0 0;
  height: 174px;
}

.card-text {
  height: 77px;
  display: flex;
  padding: 15px 30px 15px 15px;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.like {
  background: gray;
}

.like:focus {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.footer__info {
  background-color: #353535;
  color: #FFF;
  padding: 25px;
}

.footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFF;
  width: 138px;
  height: 27px;
}

.footer__info__text {
  font-family: Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__info__text p {
  margin-bottom: 5px;
}

.footer__info__text .fa-solid {
  margin-left: 10px;
}

.footer__link {
  text-decoration: none;
  color: #FFF;
}

/*****@mediasqueries*******/
@media screen and (min-width: 1024px) {
  .main-container {
    width: 1440px;
  }
  .header__logo {
    height: 96px;
  }
  .explore__title {
    width: auto;
    font-size: 40px;
  }
  .explore__subtitle {
    width: auto;
  }
  .operation {
    padding-left: 180px;
  }
  .operation__title {
    padding: 50px 0 25px;
  }
  .btn__operation {
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }
  .restau__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
  }
}/*# sourceMappingURL=styles.css.map */