@keyframes animload {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes animload__logo {
  0% {
    opacity: 0;
    transform: scaleY(0.01);
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes bloc-display {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
/******Mobile homepage*********/
body {
  margin: 0;
}

/***Loader***/
.loader {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2500px;
  z-index: 1;
  background: #F7F7F7;
  animation: animload 2000ms 5700ms ease-in-out forwards;
}

.load {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 70%;
  border-radius: 75px;
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.load__logo {
  opacity: 0.1;
  letter-spacing: 2px;
  color: #FFF;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  margin-top: 10px;
  box-sizing: border-box;
  animation: animload__logo 2s 50ms ease-in 3 alternate;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/****** Icons ******/
.fa-heart {
  font-size: x-large;
}

.fa-mobile-screen-button, .fa-list-ul {
  color: #7E7E7E;
  font-size: x-large;
}

.fa-store {
  color: #9356DC;
  font-size: large;
}

.main-container {
  background-color: #FFF;
  width: 375px;
  margin: auto;
  position: relative;
  height: 1450px;
}

.header {
  width: 100%;
  position: relative;
}

.go-back {
  position: absolute;
  left: 3%;
  right: 22.67%;
  top: 23.33%;
  bottom: 23.33%;
}
.go-back a {
  text-decoration: none;
  color: #353535;
}

.heading {
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.title__logo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header__location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fa-location-dot {
  margin-right: 20px;
}

.fa-heart {
  display: flex;
  transition: transform 450ms, background-color 300ms 150ms;
}
.fa-heart:hover {
  font-weight: 800;
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}

.explore {
  background-color: #F3F3F3;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.explore__title {
  width: 275px;
  height: 68px;
  text-align: center;
}

.explore__subtitle {
  width: 315px;
  height: 46px;
  text-align: center;
  font-size: 18px;
}

.btn-rounded {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}
.btn-rounded:hover {
  opacity: 0.8;
  transition: opacity 250ms;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3137254902);
}

.operation {
  background-color: #FFF;
}

.operation__title {
  padding: 50px 20px 25px;
  font-size: 24px;
}

.cards__operation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__box {
  position: relative;
}

.card__operation {
  width: 323px;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  color: black;
  border: none;
  box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.number {
  position: absolute;
  top: 23px;
  left: -10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  border-radius: 15px;
}

.restau {
  background-color: #F7F7F7;
}

.restau__title {
  padding: 50px 20px 25px;
}

.restau__cards {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  align-items: center;
}

.section__title {
  margin: 0 20px 30px;
}

.restau__card {
  width: 90%;
  height: 251px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.restau__card > a {
  text-decoration: none;
  color: black;
}

.card__img-badge {
  background-color: transparent;
  width: 100%;
  position: relative;
}

.badge {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  padding: 5px 10px;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15PX 0 0;
  height: 174px;
}

.card-text {
  height: 77px;
  display: flex;
  padding: 15px 30px 15px 15px;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  background-color: #353535;
  color: #FFF;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  margin: auto;
  width: 375px;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFF;
  width: 138px;
  height: 27px;
}

.footer__info__text {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.info__text-logo {
  display: flex;
  flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
}

.fa-sm {
  width: 12px;
  height: 11px;
  margin-right: 10px;
}

/*********page restaurant*************/
.page__restaurant {
  position: relative;
}

.img-restau {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 30px 30px 0 0;
  position: absolute;
  width: 375px;
  height: 1243px;
  left: calc(50% - 187.5px);
  top: 285px;
}

.menu__header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  width: 341px;
  justify-content: flex-start;
  align-items: center;
}

.menu__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin-right: 35px;
  line-height: 41px;
}

.menu__bloc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  animation: bloc-display 1110.63ms cubic-bezier(0.32, 0, 0.67, 0) 150ms 1 normal backwards;
}

.menu__bloc--2 {
  animation-delay: 1244.023343081ms;
}

.menu__bloc--3 {
  animation-delay: 2244.0228170321ms;
}

.menu__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.blue-line {
  border: 1px solid #99E2D0;
  width: 40px;
  margin: 10px 0 15px;
}

.menu__card {
  height: 69px;
  width: 95%;
  border-radius: 15px;
  background-color: #FFF;
  color: black;
  border: none;
  box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 5px 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu__text {
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: space-around;
  align-items: flex-end;
}

.dish {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.dish__name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 5px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish__description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish__price {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  width: 8%;
  height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.clic-zone {
  width: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  opacity: 0;
  background-color: #99E2D0;
  color: #FFF;
  border-radius: 0 15px 15px 0;
  transition-timing-function: cubic-bezier(0.17, 0.57, 0.85, 0.79);
}

.menu__card:hover > .clic-zone {
  width: 70px;
  transform: translate -70px;
  opacity: 1;
  transition: all 400ms;
}

/*****@medias queries*******/
@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
  }
  .load__logo {
    font-size: 4em;
  }
  .explore__title, .explore__subtitle {
    width: auto;
  }
  .operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .operation__bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .operation__title {
    padding: 50px 0px;
    margin: auto;
  }
  .card__operation {
    width: 400px;
  }
  .restau {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .restau__title {
    margin: auto;
    padding: 50px 0px;
  }
  .restau__cards {
    width: 100%;
  }
  .restau__card {
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
  }
  .footer {
    width: 768px;
    height: 114px;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .footer__info {
    flex-direction: row;
    width: 718px;
    align-items: center;
  }
  .footer__logo {
    order: 2;
    text-align: right;
  }
  .footer__info__text {
    order: 1;
    display: flex;
    flex-direction: row;
    width: 661px;
    justify-content: space-around;
  }
  .info__text-logo {
    flex-direction: row;
  }
  .info__text-nologo {
    display: flex;
    flex-direction: row;
  }
  .footer__link {
    margin-right: 10px;
  }
  .menu {
    left: calc(50% - 382.5px);
    width: 768px;
  }
  .menu__card {
    width: 500px;
  }
  .btn-rounded {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .load__logo {
    font-size: 8em;
  }
  .main-container {
    width: 1440px;
    height: 1600px;
  }
  .header__logo {
    height: 96px;
  }
  .main {
    position: relative;
  }
  .explore__title {
    font-size: 40px;
  }
  .operation {
    padding-left: 190px;
  }
  .operation__title {
    padding: 50px 0 25px;
    width: 85%;
  }
  .cards__operation {
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
  }
  .card__operation {
    width: 323px;
  }
  .restau__title {
    padding: 50px 190px 25px;
  }
  .restau__cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1080px;
    padding: 0;
    margin: auto;
    justify-content: space-between;
  }
  .restau__card {
    width: 45%;
    margin-bottom: 40px;
  }
  /****************pages restaurants******/
  .img-restau {
    height: 383px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    width: 1055px;
    margin: auto;
    height: 1221px;
    left: 193px;
    top: 350px;
  }
  .menu__card {
    width: 634px;
  }
  .menu__text:hover + .clic-zone {
    width: 15%;
  }
  .footer {
    width: 1440px;
    margin: auto;
    height: 114px;
    padding: 30px 25px;
    gap: 16px;
  }
  .info__text-logo {
    margin-right: 20px;
  }
}/*# sourceMappingURL=styles.css.map */